package routes

import "slander/internal/components"
import "slander/internal/database"

templ Home() {
	@components.Document("") {
		{{
			user, err := database.GetUser("readf0x")
			if err != nil {
				return err
			}
		}}
		@components.UI(user)
	}
}
