package routes

import "slander/internal/components"

templ Login() {
	@components.Document("Login") {
		@components.Redirect("redirect:false")
		<script id="returnScript"></script>
		<div class="max-w-sm sm:max-w-xl mx-auto flex flex-col justify-center pb-[33%] sm:p-0 space-y-4 sm:grid sm:grid-rows-1 sm:grid-cols-2 h-screen">
			@components.Logo()
			@components.Login()
		</div>
	}
}

