package components

import "slander/internal/systems"

templ LogIn(id systems.UserID, token systems.SessionToken) {
	<script>
		localStorage.user = {{ id }}
		localStorage.token = {{ token }}
		window.location.href = "/home"
	</script>
}
